*.py linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS

*.py linguist-weight=80
*.html linguist-weight=10
*.css linguist-weight=10

*.ps1 linguist-vendored
*.bat linguist-vendored
*.cmd linguist-vendored
*.md linguist-vendored
*.json linguist-vendored
*.yml linguist-vendored
*.lock linguist-vendored
migrations/* linguist-vendored
venv/* linguist-vendored
node_modules/* linguist-vendored
dist/* linguist-vendored
build/* linguist-vendored
