@font-face {
    font-family: Coolvetica;
    src: url('coolvetica.otf') format('opentype');
}
:root{
    --grey: white;
}
* {
    margin: 0;
}
body{
    background: black;
    overflow: hidden;
}
.github-corner {
    position: fixed;
    top: 0;
    right: 0;
}
.github-corner svg {
    fill: #40cffb;
    color: #0b2a41;
    width: 80px;
    height: 80px;
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% { transform: rotate(0); }
    20%, 60% { transform: rotate(-25deg); }
    40%, 80% { transform: rotate(10deg); }
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    margin-top: 10vh;
    height: 80vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}
.list > label > p{
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    font-family: Coolvetica;
    color: var(--grey);
    cursor: pointer;
    transition: all 200ms ease-in-out;    
    animation: fadeSlideIn 0.4s ease-out;
}
.list > label > p:hover{
    color: #0ec9ff;
}
input[name="spec"]:checked + label p {
    color: #0ec9ff;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.98);
}
input[name="subject"]:checked + label p {
    color: #0ec9ff;
    text-shadow: 0px 10px 50px rgba(0, 0, 0, 0.98);
}
.list > input {
    display: none;
}
.search-container {
    position: relative;
    width: 600px;
    display: flex;
    border: 2px solid white;
    border-radius: 40px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}
.search-bar {
    flex: 1;
    padding: 10px 20px;
    font-family: Coolvetica;
    font-size: 12pt;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}
.search-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s; */
}
.search-icon{
    aspect-ratio: 1/1;
    width: 40px;
}
.combiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#unit-list{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
.unit-input{
    display: none;
}
.unit-label > div{
    font-family: Coolvetica;
    width: fit-content;    
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15pt;
    color: #0ec9ff;
    border: 1px solid #0ec9ff;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    animation: fadeSlideIn 0.4s ease-out;
}
.unit-label > div:hover{
    background-color: #0ec9ff;
    color: white;    
}
input[name="unit"]:checked + label div {
    background-color: #0ec9ff;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(157deg,rgba(0, 106, 255, 1) 0%, rgba(14, 201, 255, 1) 50%, rgba(14, 231, 255, 1) 100%);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -2;
}
#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(12vmax);
}
.clip {
    position: fixed;
    inset: 0;
    overflow: hidden; 
    z-index: -2;    
}
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.rSVG{
    fill: #0ec9ff;
    cursor: pointer;
}
.rSVG:hover{
    fill: #9deaff;
}
.other-links{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media (width <= 1000px){
    .wrapper{
        position: absolute;
        inset: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .list{
        margin: 0px;
        height: fit-content;
        padding-left: 0px;
        align-items: center;
    }
    .search-container{
        width: 300px;
        padding: 2px;
    }
    .search-bar{
        padding: 5px 10px;
        font-size: 8pt;
    }
    .search-icon{
        width: 20px;
    }
    .unit-label > div{
        font-size: 8pt;
    }
    #unit-list{
        flex-wrap: wrap;
    }
    input[name="unit"]:checked + label div {
        padding-left: 10px;
        padding-right: 10px;
    }
}