<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search Results</title>
        <link rel="stylesheet" href="../static/results.css">
        <link rel="icon" href="../static/icon.png">
        <script>
            let domain = window.location.origin;
            // console.log(domain);
            function enlarge(link) {
                window.open(`${domain}/${link}`, '_blank')
            }
        </script>
    </head>
    <body>
        <div class="combiner">
            <h1 class="hits">Found {{hits}} results</h1>
            <a href="https://edexcelfinder.onrender.com/SixMarkSearch">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z" clip-rule="evenodd"/>
                </svg>          
            </a>
        </div>
        <div class="images">
            {% for result in results %} 
                    <div class="wrapper">
                        <img src="{{result[2]}}" onclick="enlarge('{{result[2]}}')">
                        <div class="info">
                            <h1>
                                {{result[0]}}
                            </h1>
                            <h3>
                                Page: {{result[1]}}
                            </h3>
                            <a onclick="enlarge('{{result[2]}}')">
                                <div id="button" class="svgB">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#00c3ff">
                                        <path d="M120-120v-230h60v127l148-148 43 43-148 148h127v60H120Zm490 0v-60h127L590-327l43-43 147 147v-127h60v230H610ZM327-590 180-737v127h-60v-230h230v60H223l147 147-43 43Zm306 0-43-43 147-147H610v-60h230v230h-60v-127L633-590Z"/>
                                    </svg>
                                    <p>Enlarge <br> Image</p>
                                </div>
                            </a>
                            <div class="buttons">
                                <a href="{{result[3]}}#page={{result[1]}}">
                                    <div id="button" class="svgB">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#00c3ff">
                                            <path d="M120-240v-60h520v60H120Zm678-52L609-481l188-188 43 43-145 145 146 146-43 43ZM120-452v-60h400v60H120Zm0-208v-60h520v60H120Z"/>
                                        </svg>
                                        <p>Question Paper</p>
                                    </div>
                                </a>
                                <a href="{{result[4]}}">
                                    <div id="button" class="svgB">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#00c3ff">
                                            <path d="M222-214 80-356l42-42 100 99 179-179 42 43-221 221Zm0-320L80-676l42-42 100 99 179-179 42 43-221 221Zm298 244v-60h360v60H520Zm0-320v-60h360v60H520Z"/>
                                        </svg>
                                        <p>Mark Scheme</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </body>
</html>
