{% extends "baseSearch.html" %}
{% block meta %}
<link rel="stylesheet" href="../static/styles.css">
<title>Six Marker Edexcel Finder</title>
<meta property="og:url" content="https://edexcelfinder.onrender.com/SixMarkSearch">
<meta property="og:title" content="Edexcel Six Mark Finder">
<meta property="og:description" content="This is an Edexcel Finder extension to http://edexcelfinder.onrender.com/SixMark - which has all the six marker questions that have come up over the years, compiled">
<meta property="twitter:url" content="https://edexcelfinder.onrender.com/SixMarkSearch">
<meta name="twitter:title" content="Edexcel Finder Six Mark Finder">
<meta name="twitter:description" content="This is an Edexcel Finder extension to http://edexcelfinder.onrender.com/SixMark - which has all the six marker questions that have come up over the years, compiled">
<script src="../static/SixMarkSearch.js"></script>
{% endblock %}

{% block subjects %}
<div id="subject-list" class="list">
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Chemistry">
    <label for="Chemistry">
        <p>Chemistry</p>
    </label>
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Physics">
    <label for="Physics">
        <p>Physics</p>
    </label>
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Biology">
    <label for="Biology">
        <p>Biology</p>
    </label>
</div>
{% endblock %}

{% block search %}
<div class="search-container">
    <input type="text" oninput="handleSearch(event)" class="search-bar" placeholder="Search" />
    <button class="search-button" type="reset" onclick="handleSubmit()"><img class="search-icon" src="../static/icon.png"></button>
</div>
{% endblock %}