{% extends "baseSearch.html" %}

{% block meta %}
<title>Edexcel Six Markers</title>
<link rel="stylesheet" href="../static/styles.css">
<meta property="og:url" content="https://edexcelfinder.onrender.com/SixMark">
<meta property="og:title" content="Edexcel Six Markers">
<meta property="og:description" content="A collection of all the descriptive/mathematical six marker questions that have shown up in papers from January 2010 to January 2024">
<meta property="twitter:url" content="https://edexcelfinder.onrender.com/SixMark">
<meta name="twitter:title" content="Edexcel Six Markers">
<meta name="twitter:description" content="A collection of all the descriptive/mathematical six marker questions that have shown up in papers from January 2010 to January 2024">
<script src="../static/SixMark.js"></script>
{% endblock %}

{% block subjects %}
<div id="subject-list" class="list">
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Chemistry">
    <label for="Chemistry">
        <p>Chemistry</p>
    </label>
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Physics">
    <label for="Physics">
        <p>Physics</p>
    </label>
    <input type="radio" onclick="handleSubject(this)" name="subject" id="Biology">
    <label for="Biology">
        <p>Biology</p>
    </label>
</div>
{% endblock %}

{% block search %}
<style>
.search-button {
    width: 400px;
    font-family: Coolvetica;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #0ec9ff;
    background-color: transparent;
    color: white;    
    font-size: 16px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}
.search-icon{
    aspect-ratio: 1;
    width: 30px;
}
.search-button:hover {
    background-color: #0ec9ff;
}
</style>
<button class="search-button" onclick="handleSubmit()"><img class="search-icon" src="../static/icon.png"><p>Search</p></button>
{% endblock %}